* {
    margin: 0;
    padding: 0;
}

a {
    font:  sans-serif;
    text-decoration: none;
}

.header {
    background: #ffc0cb;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
}

.logo img {
    height: 40px;
    margin-right: 100px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #FFF;
    padding-block: 16px;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px #FFF;
    cursor: pointer;
}

.hamburguer::before, .hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #FFF;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #ffc0cb;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        transform: translateX(100%);
        transition: trasform 0.3s ease-in;
        z-index: 1;
    }

    .nav.active .nav-list {
        transform: translateX(0);
        pointer-events: all;
        z-index: 2;
    }

    .nav.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
        z-index: 3;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}

/*FIM DO HEADER*/

/*SLIDER*/
section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #cd5c5c;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #cd5c5c;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #cd5c5c;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 751px) {
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }

}

/*FIM DO SLIDER*/


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-column {
    flex: 1 1 300px;
    margin-right: 20px;
}
.footer-column:last-child {
    margin-right: 0;
}
.footer ul {
    list-style-type: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 10px;
    color: #fff; /* Cor dos textos */
}
.footer ul li a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #fff; /* Cor dos links */
}
.footer-social-icons {
    margin-top: 20px;
}
.footer-social-icons img {
    width: 30px;
    margin-right: 10px;
}
.footer-payment-methods img {
    width: 50px;
    margin-right: 10px;
}
.footer-address {
    margin-top: 20px;
    color: #fff; 
}
.signup {
    background-color: #FFD3E0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.signup input {
    margin: 5px;
    padding: 8px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}
.signup input[type="submit"] {
    width: 100%;
    background-color: #fb607f;
}

